// 基本テキストカラー
$base_color: #000;
// サブカラー
$sub_color: #fff;
// アクセントカラー
$accent_color: #406150;
// サブアクセントカラー
$accentSub_color: #70a24d;
// サブアクセントカラー
$support_color: #c5d02c;
// 下層ページボックスカラー
$under_commonColor: #061e74;
// 下層ページボックスカラー
$under_selfColor: #e51616;
