/* セクション独自のスタイル */
/************************************************/
/* fv */
.un_fv_container {
	@include maxmq(full) {
		top: 45%;
		transform: translate(-50% , -50%);
	}
	left: 51%;
	position: absolute;
	top: 11vw;
	transform: translateX(-50%);
}

.un_fv_copy {
	@include maxmq(tab) {
		width: 80%;
	}
	width: 685px;
	img {
		width: 100%;
	}
}

.un_fv_text {
	@include f_around(27 , 55, 700 , false);
	margin-top: 45px;
	text-align: center;
}

.un_fv_contactContainer {
	text-align: center;
}
.un_fv_contact {
	background-color: $accentSub_color;
	color: $sub_color;
	display: inline-block;
	@include f_around(35 , 45 , 700 , false);
	margin-top: 36px;
	padding: .5em 1.5em;
	transition: background-color .2s;

	&:hover {
		background-color: #568932;
		text-decoration: none;
	}
}

/* concept */
.un_concept_textWrap {
	color: $sub_color;
}

.un_concept_textWrap {
	@include l_height(20 , 30);
	margin: 0 auto;
	margin-top: 50px;
	max-width: 800px;
	text-align: center;
}
.un_concept_textBlock:not(:first-of-type) {
	margin-top: 1.5em;
}

.un_concept_bottomBg {
	background-image: url(../../../public/assets/img/symbol/concept/bg_green.png);
	background-size: cover;
	display: block;
	height: 135.38px;
	margin-top: 2.5em;
}

/* service */
.un_service_text {
	color: $accentSub_color;
	margin-top: 38px;
	text-align: center;
}

.un_point_contaier {
	@include maxmq(full) {
		padding: 0 10px 80px;
	}
	margin-top: -17px;
	padding-bottom: 80px;
}

.un_point_block {
	display: flex;
	@include maxmq(pc) {
		flex-direction: column;
	}
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1250px;
}

.un_point_list {
	flex-shrink: 0;

	a {
		display: block;
	}
}

.un_point_sub {
	transition: background-color .2s , color .2s;
}

.un_point_list:first-of-type {
	@include maxmq(full) {
		margin-left: 0;
		width: 32.5%;
	}
	margin-left: 25px;
	width: 390px;

	.un_point_aboutWrap {
		margin-left: 15px;
	}

	.un_point_sub:hover {
		background-color: #568932;
		a {
			text-decoration: none;
		}
	}

	.un_point_sub::after {
		content: "▶︎";
		left: 9.3em;
		position: absolute;
		top: 0;
	}
}

.un_point_list:nth-of-type(2) {
	@include maxmq(full) {
		margin-left: 0;
		width: 31.2%;
	}
	margin-left: 30px;
	width: 378px;

	.un_point_sub {
		background-color: $sub_color;
		border: 2px solid $accentSub_color;
		line-height: 34px;
		transition: background-color .2s;
		z-index: 2;

		a {
			color: $accentSub_color;
		}

		&::after {
			color: $accentSub_color;
			content: "▼";
			left: 8.6em;
			position: absolute;
			top: 0;
		}

		&:hover {
			background-color: #70a24d;
			cursor: pointer;

			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}

	.un_point_sub:hover::after {
		color: #fff;
	}
}

.un_point_list:last-of-type {
	@include maxmq(full) {
		margin-left: 0;
		width: 35.4%;
	}
	margin-left: 15px;
	width: 413px;

	.un_point_aboutWrap {
		margin-left: -35px;
	}
}

.un_point_aboutWrap {
	text-align: center;
	width: 100%;

	.un_point_head {
		height: 52px;
		@include f_around(27 , 4.05 , false , false);
		line-height: 52px;
		padding: 0 1.2em;
	}

	.un_point_sub {
		margin-top: 10px;
		position: relative;
		width: 242px;
	}
}

.un_point_text {
	margin-top: 12px;
}

/* plan */
.un_plan_read {
	color: $sub_color;
	margin-top: 50px;
	text-align: center;
}

.un_addition_container {
	color: $accent_color;
	display: flex;
	justify-content: center;
	margin-top: 33px;
}

.el_accent_icon {
	display: inline-block;
	margin-left: 1em;
}

/* activety */
.un_activety_read {
	color: $sub_color;
	@include f_around(20 , 26 , 700 , false);
	margin-top: 80px;
	text-align: center;
}

.un_activety_readBottom {
	margin-top: 1.5em;
}

.un_activety_textBox {
	background-color: $sub_color;
	margin: 40px auto 0;
	max-width: 1010px;
	padding: 1.2em 1.2em .9em 1.2em;
	text-align: center;
}

.un_activety_strong {
	color: $accent_color;
	@include f_around(27 , 43 , 700 , false);
}

.un_activety_commentBox {
	color: $sub_color;
	text-align: center;
}

.un_activety_list {
	display: inline-block;
	@include f_around(17 , 20 , 500 , false);
	margin-top: 20px;
	text-align: left;
}

.un_activety_main {
	margin: 0 auto;
	margin-top: 55px;
	max-width: 1050px;
}

.un_activety_mainContainer {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;

	&:not(:first-of-type) {
		margin-top: 50px;
	}
}

.un_activety_imgContainer {
	flex-basis: 500PX;
	flex-shrink: 0;
}

.un_activety_descriptionContainer {
	background-color: $sub_color;
	border-radius: 10px 10px 10px 10px;
	flex-basis: 477px;
	flex-shrink: 0;
}

.un_activety_descriptiontitle {
	background-color: $accent_color;
	border-radius: 10px 10px 0 0;
	color: $sub_color;
	padding: .5em 0;
	text-align: center;
}

.un_activety_descriptionbox {
	color: $accent_color;
	font-weight: 700;
	padding: 30px 30px 30px 25px;;
}

.un_activety_descriptionPrice {
	background-color: $accent_color;
	color: $sub_color;
	display: inline-block;
	margin-top: 29px;
	padding: .3em 1em;
}

.un_activety_descriptionList {
	margin-top: 21px;
}

.un_activety_descriptionBottomWrap {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}
.un_activety_descriptionLink {
	align-items: flex-start;
	display: flex;
	img {
		padding-left: .5em;
	}

	&::after {
		content: url(../../../public/assets/img/symbol/activety/link_btn.svg);
		display: inline-block;
		height: 1em;
		margin-left: .5em;
		width: 1em;
	}
	&:hover {
		text-decoration: underline;
	}
}

/* activety */
.un_section_read {
	color: $accent_color;
	@include f_around(20 , 27 ,700 , false);
	margin-top: 35px;
	text-align: center;
}

.un_contact_link {
	color: $accent_color;
	display: inline-block;
	text-decoration: underline;
}
